:root {
    --alice-blue: #d9f0ff;
    --cold-steel: #404A61;
}

html,
body {
    font-family: "Chelsea Market", system-ui;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Italianno", cursive;
}

.wrapper {
    max-width: 1024px;
    margin: 0 auto;
}

header,
footer {
    background-color: var(--cold-steel);
    color: var(--alice-blue);
    padding: 8px;
}

header .wrapper {
    display: flex;
    justify-content: center;
    align-items: center;

    span.title {
        font-family: "Italianno", system-ui;
        font-size: 2.5em;
    }
}

footer .wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;

    p a {
        color: white;
    }
}