main .wrapper {
    padding: 8px;
}

form {
    display: flex;
    flex-direction: column;
    gap: 8px;

    textarea,
    button {
        padding: 8px;
        font-family: 'Chelsea Market', system-ui;
    }

    textarea:focus {
        font-size: 1.2em;
    }

    button {
        border-color: var(--cold-steel);
        border-radius: 3px;
        cursor: pointer;
    }
}
